Indirizzario.Wpf/Connected Services/ServiceReference/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Indirizzario.Wcf.Contracts" elementFormDefault="qualified" targetNamespace="Indirizzario.Wcf.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/Indirizzario/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Indirizzario.Db.Models" />
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Indirizzario.Db.Models" minOccurs="0" name="person" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Indirizzario.Db.Models" minOccurs="0" name="address" nillable="true" type="q2:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>